<ion-header>
    <ion-toolbar>
      <ion-title>
      </ion-title>
      <ion-button  class="invert" slot="start" fill="outline" (click)="logout();">
        <ion-icon name="exit"></ion-icon>
      </ion-button>
      <ion-button  slot="end" fill="outline" (click)="changeTheme();">
        <ion-icon name="contrast"></ion-icon>
      </ion-button>
      <ion-button slot="end" fill="outline">
          <ion-icon name="notifications"></ion-icon>
        </ion-button>
    </ion-toolbar>
</ion-header>
