<ion-header>
  <ion-toolbar>
    <ion-title>Novo Evento</ion-title>
    <ion-back-button text="Voltar"></ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="formulario">
    <ion-item>
      <input type="file" name="image" id="image" (change)="inputFileChange($event)">
    </ion-item> <br/>
    <!-- <div *ngIf="categories">
      <div *ngFor="let c of categories">
        <p>c.categoria_id</p>  
        <p>c.nome</p>
      </div>
    </div> -->
    <ion-item>
      <ion-label color="primary" position="stacked">Categoria</ion-label>
      <ion-select placeholder="Selecione uma" interface="popover" formControlName="categoria">
        <ion-select-option *ngFor="let c of categories" [value]="c.id">{{ c.nome }}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label color="primary" position="stacked">Titulo do Evento </ion-label>
      <ion-input  type="text" formControlName="titulo"></ion-input>
    </ion-item>
    <ion-button color="primary" fill="clear" slot="end" (click)="addPalestrante();"><ion-icon size="large" name="add"></ion-icon></ion-button>
      <div  formArrayName="palestrantes" *ngFor="let p of formData.controls; let i = index">
        <ion-item>
          <!-- <ion-label color="primary" position="stacked">Palestrante(s)</ion-label>
          <ion-input  type="text"  [formControlName]="i"></ion-input> -->
          <ion-select style="width: 100%;" placeholder="Selecione o palestrante" interface="popover" [formControlName]="i">
          <ion-select-option *ngFor="let s of speakers" [value]="s.nome">{{ s.nome }}</ion-select-option>
        </ion-select>
        </ion-item>
      </div>
    
    <ion-item>
      <ion-label color="primary" position="stacked">Data do Evento</ion-label>
      <ion-datetime 
        [min]="minDate"
        max="2030"
        pickerFormat="DD/MMMM/YYYY HH:mm" 
        displayFormat="DDDD, DD de MMMM de YYYY HH:mm"
        month-names="Janeiro, Fevereiro, Março, Abril, Maio, Junho, Julho, Agosto, Setembro, Outubro, Novembro, Dezembro"
        day-names="Domingo, Segunda, Terça, Quarta, Quinta, Sexta, Sábado" 
        minuteValues="00,15,30,45"
        formControlName="data_horario"
      >
      </ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label color="primary" position="stacked">Local</ion-label>
      <ion-input type="text" formControlName="local"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="primary" position="stacked">Carga Horária</ion-label>
      <ion-input   type="number" formControlName="carga_horaria"></ion-input>
    </ion-item>
  </form>
  <ion-button size="block"  type="submit" (click)="onSubmit();">CRIAR</ion-button>
</ion-content>
