<ion-header>
  <ion-toolbar>
    <ion-title>Novo Evento</ion-title>
    <ion-back-button text="Voltar"></ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="formulario">
    <ion-item>
      <input type="file" name="image" id="image" (change)="inputFileChange($event)">
    </ion-item>
    <div *ngIf="categories">
      <div *ngFor="let c of categories">
        <p>c.categoria_id</p>  
        <p>c.nome</p>
      </div>
    </div>
    <ion-item>
      <ion-label color="primary" position="stacked">Titulo do Evento </ion-label>
      <ion-input  type="text" formControlName="titulo"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="primary" position="stacked">Palestrante(s)</ion-label>
      <ion-button color="primary" fill="clear" slot="end"><ion-icon size="large" name="add"></ion-icon></ion-button>
      <ion-input  type="text"  formControlName="palestrante"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="primary" position="stacked">Data do Evento</ion-label>
      <ion-datetime 
        pickerFormat="DD/MMMM/YYYY HH:mm" 
        displayFormat="DDDD, DD de MMMM de YYYY HH:mm"
        month-names="Janeiro, Fevereiro, Março, Abril, Maio, Junho, Julho, Agosto, Setembro, Outubro, Novembro, Dezembro"
        day-names="Domingo, Segunda, Terça, Quarta, Quinta, Sexta, Sábado" 
        minuteValues="00,15,30,45"
        formControlName="dataHorario"
      >
      </ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label color="primary" position="stacked">Local</ion-label>
      <ion-input type="text" formControlName="localizacao"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="primary" position="stacked">Carga Horária</ion-label>
      <ion-input   type="number" formControlName="cargaHoraria"></ion-input>
    </ion-item>
  </form>
  <ion-button size="block"  type="submit" (click)="onSubmit();">CRIAR</ion-button>
</ion-content>
