<ion-header>
  <ion-toolbar>
    <ion-back-button slot="start" [defaultHref]="['/tabs/tabs/tab1']"></ion-back-button>
    <ion-title slot="end">Evento</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-img class="ion-padding"  *ngIf="event" [src]="api + '/evento/imagem/'+ event.foto" error="this.src='../assets/images/PAAP.png'" id="foto"></ion-img> 
  <input style="display: none" type="file" name="image" id="image" (change)="updateEventImage($event);" #imageUpdate>
  <div class="button">
    <ion-button  *ngIf="actualRole === 'ADMIN'" (click)="openInputFile();">Alterar Foto</ion-button>
  </div>
  
  <ion-card class="ion-padding ion-margin-bottom" *ngIf="event">
    <div class="title">
      <div class="icon-center">
        <ion-icon  class="calendar" size="large" name="calendar-outline"></ion-icon> 
      </div>
      <div class="ion-no-padding ion-no-margin">
        <ion-text class="ion-text-center">
          <strong><h5>{{ event.titulo }}</h5></strong>
        </ion-text>
      </div>
    </div>
    <div class="row">
      <ion-icon  name="location-outline"></ion-icon> 
      <div>
        <!-- <span class="label">Local: </span> -->
        <span slot="end">{{ event.localizacao }}</span>
      </div>
      
    </div>
    <div class="row">
      <ion-icon name="megaphone-outline"></ion-icon>

      <div class="pal" *ngFor="let palestrante of event.palestrantes">
        <!-- <span class="label">Local: </span> -->
        <span slot="end">{{ palestrante }}</span>
      </div>
      
    </div> 

    <div  class="row">
    
      <ion-icon  name="time-outline"></ion-icon>
      <div>
        <!-- <span class="label">Data: </span> -->
        <span>{{ getData(event.data_horario) }}</span>
      </div>
      
    </div>
    <div  class="row">
      <!-- <ion-icon size="small" name="time-outline"><sup><ion-icon name="arrow-up-outline"></ion-icon></sup></ion-icon> -->
      <span class="label">Carga Horária: </span>
      <div>
        <span>{{ event.carga_horaria }}h</span>
      </div>
    </div>
    <div class="row" *ngIf="subscribed" (click)="unsubscribeToEvent(event.id)"> 
      <span class="label"> Inscrição:  </span> 
      <div class="btnSpace">
        <ion-icon size="large" class="check-filled" name="checkmark-circle-outline"></ion-icon> 
        <ion-icon size="large" class="no-filled" name="close-outline"></ion-icon>
      </div>
      
    </div>
    <div class="row" *ngIf="!subscribed" (click)="subscribeToEvent(event.id)"> 
      <span class="label">Inscrição: </span>
      <div class="btnSpace">
        <ion-icon size="large" class="no-filled" name="checkmark-outline"></ion-icon> 
        <ion-icon size="large" class="cancel-filled" name="close-circle-outline"></ion-icon>
      </div>
    </div>
    <!-- <ion-button size="block"  color="danger" (click)="unsubscribeToEvent(event.id)" *ngIf="subscribed else subscribeButton ">CANCELAR INSCRIÇÃO</ion-button>
  
    <ng-template #subscribeButton>
      <ion-button size="block" (click)="subscribeToEvent(event.id)">PARTICIPAR</ion-button>
    </ng-template> -->
  </ion-card>
 
</ion-content>
