<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-label color="primary" position="stacked">SIAPE</ion-label>
      <ion-input  type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="primary" position="stacked">Senha</ion-label>
      <ion-input type="password"></ion-input>
    </ion-item>
    <ion-button size="full" [routerLink]="['/tabs/tabs/tab1']" margin>Logar</ion-button>
  </ion-list>
</ion-content>
