.container{
    height:100vh;
    margin: 0px 20px 0px 20px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: initial;
}

ion-button {
    height: 40px;
    margin-top: 25px;
    --box-shadow: 3px 3px 3px #000000; 
    --padding-top: -5px; --padding-bottom: -5px;
}

ion-checkbox{
    --border-color: var(--ion-color-base);
    margin-bottom: none;
    margin-left: 1px;
}

ion-label.check{
    font-size: 16px !important;
    padding-top: 1.5px;
    margin-left: 4px;
}

ion-label.stacked{
    font-size:25px !important;
    margin-bottom: 10px;
}

ion-icon{
    color: var(--ion-color-base);
    margin-left: -2px;
    margin-bottom: 2px;
    margin-right: 2px;
}
ion-text,a{
    font-size: 16px;
}

a{
    padding-left: 3px;
}
