<app-header>
</app-header>
<ion-content>
  <div>
    <ion-item lines="none">
      <ion-avatar class="avatar">
        <img src="../assets/images/avatar.jpg" alt="seu avatar">
      </ion-avatar>
    </ion-item>
    <ion-item>
      <ion-label>Nome Completo:</ion-label>
      <ion-text>{{user.nome}}</ion-text>
    </ion-item>
    <ion-item>
      <ion-label>Telefone:</ion-label>
      <ion-text>{{user.telefone}}</ion-text>
    </ion-item>
    <ion-item>
      <ion-label>Carga Horária Concluída</ion-label>
      <ion-text>{{user.carga_horaria}}h / 64h</ion-text>
    </ion-item>
  </div>
</ion-content>