<app-header>
</app-header>
<ion-content>
  <div *ngIf="profileUser">
    <ion-item lines="none">
      <ion-avatar class="avatar">
        <img [src]="profileUser.avatar" alt="Seu avatar">
      </ion-avatar>
    </ion-item>
    <ion-item>
      <ion-label>Nome:</ion-label>
      <ion-text>{{profileUser.nome}}</ion-text>
    </ion-item>
    <ion-item>
      <ion-label>Telefone:</ion-label>
      <ion-text>{{profileUser.telefone}}</ion-text>
    </ion-item>
    <ion-item>
      <ion-label>Carga Horária Concluída</ion-label>
      <ion-text>{{ profileUser.carga_horaria === null ? '0' : getHours(profileUser.carga_horaria) }} / 64h</ion-text>
    </ion-item>
  </div>
</ion-content>