<app-header></app-header>
<ion-content padding>
  <div class="ctn">
    <ion-text><h1 class="title">Bem vindo ao CASa Móvel</h1></ion-text>
      <ion-img src="../assets/images/casaLogin.png"></ion-img>
    <p>
      A Comunidade de Cooperação e Aprendizagem Significativa (CASa) é o programa de formação
      docente da Universidade Federal do Ceará (UFC), criado em maio de 2009 pela Pró-Reitoria 
      de Graduação (PROGRAD), no contexto da expansão e interiorização da educação superior gerado pelo 
      Programa de Apoio a Planos de Reestruturação e Expansão das Universidades Federais (REUNI)
    </p>
  </div>
</ion-content>
