<app-header></app-header>
  <!-- Conteudo-->
<ion-content>
    <ion-list *ngIf ="events"> 
    
          <ion-item-sliding  class="">

              
                <div [routerLink]="['/detail-event',event.id]" *ngFor = "let event of events" class="background ion-justify-content-between ion-padding ion-margin"> 
                  <ion-row size-md="6" size-lg="6" size-xl="6">
                    <ion-col class="vertical-divider" size="2">
                      <ion-text>
                        <h1 class="ion-no-margin">{{ getDay(event.data_horario) }} </h1>
                      </ion-text>
                      <ion-text class="ion-no-padding ion-no-margin">
                        <h4 class="ion-no-padding ion-no-margin">{{ getMonth(event.data_horario) }} </h4>
                      </ion-text>
                    </ion-col>

                    <ion-col class="ion-justify-content-center">
                      <ion-text>
                        <p class="ion-no-padding ion-no-margin">{{ event.titulo }}</p>
                      </ion-text>
                      <!-- {{ event.data_horario }}  -->
                     </ion-col>
                  </ion-row>
                  <ion-row class="ion-justify-content-end">
                    <!-- <strong>Carga Horária:</strong> {{ event.carga_horaria }} -->
                    <h4 class="hour ion-no-padding ion-no-margin">{{ getHour(event.data_horario) }}</h4>
                  </ion-row>
                  
                </div>
             

          </ion-item-sliding>
    </ion-list>
</ion-content>


<div class="waiting" *ngIf="!error && !events">
 <ion-text><p>Carregando...</p></ion-text>
</div>

<div class="waiting" *ngIf="error">
  <ion-text><p>Erro ao consultar eventos, tente novamente mais tarde<p></ion-text>
  <ion-button (click)="refresh();">tentar novamente</ion-button> 
</div>
