<ion-header>
  <ion-toolbar>
    <ion-title>admin-dashboard</ion-title>
    <ion-button class="invert" no-margin  size="small" fill="clear" slot="start" (click)="logout();">
        <ion-icon size="large" name="exit"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content ion-padding>
  <ion-grid justify-content-center ion-padding>
    <ion-row>
      <ion-col size="6" align-item-center>
          <ion-button size="large">
            <ion-icon name="calendar" slot="start"></ion-icon>
            Eventos
          </ion-button >
          <ion-item  no-padding text-center>
            <ion-label> <a href="/new-event">Criar</a> </ion-label>
          </ion-item>
          <ion-item   text-center no-padding no-margin>
             <ion-label> Consultar </ion-label>
        </ion-item>
        <ion-item  text-center no-padding no-margin>
            <ion-label> Atualizar </ion-label>
        </ion-item>
        <ion-item  text-center no-padding no-margin>
            <ion-label> Excluir </ion-label>
        </ion-item>
      </ion-col>
      <ion-col size="6">
          <ion-button size="large">
            <ion-icon name="people-sharp" slot="start"></ion-icon>
              Usuários 
          </ion-button>
          <ion-item  no-padding text-center>
            <ion-label> Criar </ion-label>
          </ion-item>
          <ion-item   text-center no-padding no-margin>
             <ion-label> Consultar </ion-label>
        </ion-item>
        <ion-item  text-center no-padding no-margin>
            <ion-label> Atualizar </ion-label>
        </ion-item>
        <ion-item  text-center no-padding no-margin>
            <ion-label> Excluir </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
        <ion-col>
            <ion-button size="large">
                <ion-icon name="help-circle-outline" slot="start"></ion-icon>
               Ajuda
            </ion-button>
            <ion-item  no-padding text-center>
                <ion-label> Criar </ion-label>
              </ion-item>
              <ion-item   text-center no-padding no-margin>
                 <ion-label> Consultar </ion-label>
            </ion-item>
            <ion-item  text-center no-padding no-margin>
                <ion-label> Atualizar </ion-label>
            </ion-item>
            <ion-item  text-center no-padding no-margin>
                <ion-label> Excluir </ion-label>
            </ion-item>
        </ion-col>
        <ion-col justify-content-center> 
            <ion-label text-center> 
                <div><ion-icon text-center size="large" name="settings" slot="start" color="primary"></ion-icon></div>
                <div><h2>{{ "   " }} Outros</h2></div>
            </ion-label>
             
            <ion-item  no-padding text-center>
                <ion-label> Criar </ion-label>
              </ion-item>
              <ion-item   text-center no-padding no-margin>
                 <ion-label> Consultar </ion-label>
            </ion-item>
            <ion-item  text-center no-padding no-margin>
                <ion-label> Atualizar </ion-label>
            </ion-item>
            <ion-item  text-center no-padding no-margin>
                <ion-label> Excluir </ion-label>
            </ion-item>
        </ion-col>
    </ion-row>   
  </ion-grid>
  
</ion-content>
