.invert {
    transform: scaleX(-1);
}

ion-content{
    ion-button {
        width:100%;
    }
}

ion-item {
    text-align: center;
}

h2 {
    padding: 10px;
    background-color: #938279;
    border-radius: 10px;
    color: white;
}

accordion-list {
    width: 100%;
}