<ion-header>
  <ion-toolbar>
    <ion-title slot="end">Administrador</ion-title>
    <ion-button class="invert" no-margin size="small" fill="clear" slot="start" (click)="logout();">
      <ion-icon size="large" name="exit"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content ion-padding>
  <ion-grid justify-content-center ion-padding>
    <ion-row>
      <ion-button size="large" (click)="eventExpanded = !eventExpanded">
        <ion-icon name="calendar" slot="start"></ion-icon>
        Eventos
      </ion-button>
      <accordion-list expandHeight="100%"  [expanded]="eventExpanded">

        <ion-item no-padding text-center>
          <ion-label> <a [routerLink]="['/novo-evento']">Criar</a> </ion-label>
        </ion-item>
        <ion-item text-center no-padding no-margin>
          <ion-label> <a [routerLink]="['/tabs/tabs/tab3']">Consultar</a> </ion-label>
        </ion-item>
        <ion-item text-center no-padding no-margin>
          <ion-label> Atualizar </ion-label>
        </ion-item>
        <ion-item text-center no-padding no-margin>
          <ion-label> Excluir </ion-label>
        </ion-item>

      </accordion-list>

    </ion-row>

    <ion-row>
      <ion-button size="large" (click)="usuarioExpanded = !usuarioExpanded">
        <ion-icon size="large" name="people-sharp" slot="start"></ion-icon>
        Usuários
      </ion-button>
      <accordion-list expandHeight="100%" [expanded]="usuarioExpanded">

        <ion-item no-padding text-center>
          <ion-label> <a [routerLink]="['/new-user']">Criar</a> </ion-label>
        </ion-item>
        <ion-item text-center no-padding no-margin>
          <ion-label> Consultar </ion-label>
        </ion-item>
        <ion-item text-center no-padding no-margin>
          <ion-label> Atualizar </ion-label>
        </ion-item>
        <ion-item text-center no-padding no-margin>
          <ion-label> Excluir </ion-label>
        </ion-item>

      </accordion-list>

    </ion-row>

    <ion-row>

      <ion-button size="large" (click)="ajudaExpanded = !ajudaExpanded">
        <ion-icon size="large" name="help-circle-outline" slot="start"></ion-icon>
        Ajuda
      </ion-button>
      <accordion-list expandHeight="100%" [expanded]="ajudaExpanded">

        <ion-item no-padding text-center>
          <ion-label> Criar </ion-label>
        </ion-item>
        <ion-item text-center no-padding no-margin>
          <ion-label> Consultar </ion-label>
        </ion-item>
        <ion-item text-center no-padding no-margin>
          <ion-label> Atualizar </ion-label>
        </ion-item>
        <ion-item text-center no-padding no-margin>
          <ion-label> Excluir </ion-label>
        </ion-item>

      </accordion-list>
    </ion-row>
    <ion-row>
      <ion-button size="large" (click)="outrosExpanded = !outrosExpanded">
        <ion-icon text-center size="large" name="settings" slot="start"></ion-icon>
        Configurações
      </ion-button>
      <accordion-list expandHeight="100%" [expanded]="outrosExpanded">

        <ion-item no-padding text-center>
          <ion-label> Criar </ion-label>
        </ion-item>
        <ion-item text-center no-padding no-margin>
          <ion-label> Consultar </ion-label>
        </ion-item>
        <ion-item text-center no-padding no-margin>
          <ion-label> Atualizar </ion-label>
        </ion-item>
        <ion-item text-center no-padding no-margin>
          <ion-label> Excluir </ion-label>
        </ion-item>

      </accordion-list>
    </ion-row>
  </ion-grid>

</ion-content>